#top {
    margin-top: 100px;
    height: .2mm;
    background-color: black;
}
#bottom {
    margin-top: 40px;
    height:3px;
    background-color: black;
}
.vline{
    padding: 0px 10px 0px 10px;
    border-right: .1mm solid gray;
    height: 325px;
}
h3{
   
    font-size: large;
}
h1{
    margin : 10px  20px;
}

h6{
    margin-top: 0;
    color: grey;
    font-size: x-small;
    font-weight: 500;
    font-family: sans-serif;
}
section{
    height : 300px;
    margin : 0px 20px 0px 20px;
    border : 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
p { 
    margin-top: 0%;
    word-wrap: break-word;
}

div {
    
    height : 300px;
    border: 1px solid white;
}
   
.padding{
    padding: 0px 10px 0px 10px;
}
@media (max-width :900px)
{
    h1 {
        color: blue;
    }
}