#top {
    margin-top: 100px;
    height: .2mm;
    background-color: black;
}
#bottom {
    margin-top: 40px;
    height:3px;
    background-color: black;
}
.vline{
    padding: 0px 10px 0px 10px;
    margin : 0;
    border-right: .1mm solid gray;
    height: 300px;
}
h3{
   
    font-size: large;
}
ul{
    list-style-type: none;
    margin :  0 0 0 10 px;
    padding: 0;  
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px ;
}

h1{
    margin : 10px  20px;
}

h6{
    margin-top: 0;
    color: grey;
    font-size: x-small;
    font-weight: 500;
    font-family: sans-serif;
}
section{
    height : 300px;
}
p { 
    margin-top: 0%;
    word-wrap: break-word;
}

   
.padding{
    padding: 0px 0px 0px 10px;
}
@media (max-width :800px)
{
    h1 {
        color: blue;
    }
}