html{
    font-family:serif;
  }
  
h3{
    margin: 0px;
    font-size: x-large;
  }
 
/* topbar */
  aside{
    height: 40px;
    margin-top: 0px;
    background-color: rgb(43, 40, 40);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  aside ul{
    
    width: 300px;
    height: 40px;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
  }
  aside ul li {
    color: white;
    margin-right: 4px;
  
  }
  .btn{
    width : 40px;
    height: 40px;
    background-color: orangered;
    border: 1px solid  orangered;
    color: white;
    margin-top: 0px;
  }
  .butn{
    width : 40px;
    height: 40px;
    background-color:rgb(43, 40, 40) ;
    border: 1px solid rgb(43, 40, 40);
    color: white;
    margin-top: 0px;
  }
  
  .topnav {
    height: 55px;
    margin-left: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
  }
  .topnav .barbutton {
    visibility: hidden ;
    float: right;
    margin-top: 8px;
    width: 40px;
    height: 40px;
    font-size: 28px;
    color: grey;
    background-color: white;

  }
  .topnav ul {
    width: 500px;
    height: 40px;
    margin-top: 10px;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    
  }
  .topnav p {
    color: red;
    font-size: 19px;
    font-weight: 700;
    margin-top: 15px;
    margin-right: 10px;
  }
  .topnav ul li{
    margin-left: 5px;  
  
  }
  .topnav ul span {
    display: block;
    font-size: 13px;
    margin-left: 15px;
  }
  .topnav ul li span {
    margin-left: 0px;
  }
  .topnav button{
        width: 60px;
        height: 40px;
        background-color: white ;
        color:black ;
        border: 1px solid white ;
        font-size: 16px;
        margin-top: 0px;
  }
  .topnav ul button:hover{
    background-color: white ;
    color: rgb(212, 65, 39);
  }
  
  .topnav ul li ul.dropdown {
    width :150px;
    height: 140px;
    background: white;
    display: none;
    position: absolute;
  }
  .topnav ul li:hover ul.dropdown {
    display: block; 
  }
  .topnav ul li ul.dropdown li {
    display: block;
    padding: 5px;
  }
  .topnav ul li ul.dropdown a {
      color: grey;
      text-decoration: none;
  
  } 
  .topnav ul li ul.dropdown a:hover {
      color: orangered;
  }
  .topnav .donate {
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 200px;
    width: 140px;
    height: 25px;
    font-size: 14px;
    background-color: white ;
    color: rgb(212, 65, 39) ;
    border: 1px solid  rgb(212, 65, 39);
  }
  /* 1st page */
  .frontpage{
    height: 600px;
    border: 1px solid  rgba(195, 201, 192, 0.979);
    color: white;
    text-align: center;
    background-image: url(slider.jpg);
    background-color: rgba(0, 0, 0, 0.658);
    background-size: 100% 100%; 
    
  }
  .frontpage h1 {
    margin-top: 5px;
    font-size: 50px;
    margin-bottom: 0px;
    text-align: center;
  }
  .underline1::after {
    content:'';
    position: relative;
    display: block;
    background-color: red;
    width: 100%;
    height: 2px;
  }
  .frontpage p {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
  
  }
  .frontpage button {
    border: 1px solid white;
    margin-top : -15px;
    width : 130px;
    height: 40px;
    color: white;
    background-color: transparent;
    padding : 10px;
  }
  #overlay {
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  fieldset {
    background-color: transparent;
    margin-top: -430px;
    width: 600px;
    margin-left: 350px;
    height : -10px;
  }
  
  legend {
    background-color: transparent;
    text-align: center;
    color: white;
    padding: 5px 10px;
  }
  /* 2nd page form */
  
.leaveusamessage form{
    margin-top: -85px;
    margin-left: 265px;
    width: 240px;
    background-color: white;
    height: 230px;
    border: 1px solid rgb(168, 168, 168);
    padding: 10px;
    float: left;
    box-shadow: 5px 5px 10px 5px #d4cccc;
  }
  .leaveusamessage form .labelling {
    margin-top: 0px;
    margin-left: 20px;
    color: grey;
  }
  .leaveusamessage form .reminderlabel{
    color: orangered;
  }
  .leaveusamessage input[type=text]{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid rgba(195, 201, 192, 0.979);
    width: 200px;
    height: 25px;
    background-color: rgba(195, 201, 192, 0.979);
  }
  .leaveusamessage input[type=email]{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid rgba(195, 201, 192, 0.979);
    width: 200px;
    height: 25px;
    background-color: rgba(195, 201, 192, 0.979);
  }
  .leaveusamessage input[type=checkbox]{
    margin-left: 20px;
    margin-top: 15px;
    border-color: grey ;
  }
  .leaveusamessage form button{
    width: 203px;
    height: 25px;
    color: white;
    background-color:orangered ;
    border:  1px solid orangered ;
    margin-left: 20px;
    margin-top: 30px;
  }

  /* page 2 */
  h4{ 
    margin: 10px 0px;
    padding-top: 45px;
    color: black;
    text-align: center;
  }
  .underline2::after {
    content:'';
    position: relative;
    display: block;
    background-color: red;
    width: 30%;
    height: 1px;
  }
  .leavetext{
    margin-left: 550px;
    margin-bottom: 20px;
  }
  .leavehead {
    margin-top : 0px;
    margin-left :550px;
    margin-bottom : 10px;
    padding-top : 20px;
    text-align: left;
    
  }
  .leavehead::after{
    content:'';
    position: relative;
    display: block;
    background-color: red;
    width: 5%;
    height: 1px;
  }
  
  
  .leaveusamessage section {
    margin-top: 70px;
    width: 850px;
    height: 250px;
    margin-left: 250px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  .leaveusamessage article {
    width : 260px;
    height: 110px;
    border: 1px solid rgb(200, 206, 209);
  
  }
  .leaveusamessage article:hover{
  
    border: 1px solid orangered;
  
  }
  .boxes {
    margin-right: 10px;
  }
  
  .boxes h5{
    font-size: medium;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 70px;
    
  }
  .boxes p {
    
    color: grey;
    font-size: 13px;
    padding-left: 70px;
  }
  .buttonleave {
    margin-top: 8px;
    margin-left: 8px;
    width : 40px;
    height : 40px;
    border: 1px solid rgba(195, 201, 192, 0.979);
    color: orangered;
    background-color: white;
    float: left;
  }
  .buttonleave:hover{
    border: 1px solid orangered;
    color: white;
    background-color: orangered;
  
  }
  /* page 3 */

  .aboutus {
    background-color: whitesmoke;
    height: 470px;
  }
  .undertext {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    color: grey;
    text-align: center;
  }
  .underline3::after {
    content:'';
    position: relative;
    display: block;
    background-color: red;
    width: 15%;
    height: 1px;
  }
  
  .aboutus article {
    
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -230px;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .aboutus article div {
    height: 210px;
    margin-top: 0px;
  }
  .firsttext {
    margin-right: 300px;
    padding-right: 10px;
  }
  .secondtext {
    padding-left: 0px;
  }
  .aboutus article div p{
    font-size: 13px;
    color: grey;
    text-align: start;
    margin-bottom: 35px;
  }
  .aboutus figure{
    
    text-align:  center;
  }
  .aboutus article div h5{
    margin-top: 13px;
    margin-bottom: 3px;
    font-weight: 700;
    text-align: start;
  }
  .pt {
    color: red;
    display: flex;
    justify-content: center;
  }
  
  

  /* page4 */


  .underline4::after{
    content:'';
    position: relative;
    display: block;
    background-color: red;
    width: 26%;
    height: 1px;
  }
  .ourcauses article {
    height: 480px;
    margin: 20px 0px 50px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .ourcauses article figure {
    height: 450px;
    margin-left: 0px ;
    margin-right: 10px;
    border: 1px solid rgb(209, 207, 207);
  }
  .ourcauses article figure h5 {
    text-align: start;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
  }
  .ourcauses article figure p{
    font-size: 12px;
    color: grey;
    text-align: start;
    margin-left: 15px ;
    margin-right: 15px;
    margin-bottom: 35px;
  }
  
  .ourcauses article figure .one , .two{
    width: 205px;
    height: 20px;
    padding-left: 20px;
    margin : 5px 10px 2px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  
  }
  .ourcauses article figure .one li {
    
    color: black;
    font-size: 13px;
    font-weight: bold;
    list-style: none;
  
  }
  .ourcauses article figure .two li {
    list-style: none;
    color: red;
    font-size: 12px; 
  }
  .ourcauses article figure .slide1{
    content:'';
    position: relative;
    display: block;
    background-color: red;
    width: 40%;
    height: 3px;
  }
  .ourcauses article figure .slide2{
    content:'';
    position: relative;
    display: block;
    background-color: red;
    width: 60%;
    height: 3px;
  }
  .ourcauses article figure .slide3{
    content:'';
    position: relative;
    display: block;
    background-color: red;
    width: 80%;
    height: 3px;
  }

  /* page 5 */
  
.videostory {
  
    height : 400px;
    background-color: black;
    border: 1px solid black;
  }
  
  .videostory figure{
    height: 250px;
    float: left;
    margin: 75px 0px 0px 200px;
    position: relative;
  }
  .image1 {
    position: relative;
    opacity: 0.4;
    top :0 ;
    left: 0;
  }
  .image2{
    position: absolute;
   top :100px;
   left: 200px;
  }
  .videostory figcaption{
    height: 250px;
    margin-top: 85px;
    margin-left: 680px;
    color: white;
    text-align: start;  
  }
  .underline5::after{
    content:'';
    position: relative;
    display: block;
    background-color: red;
    width: 11%;
    height: 1px;
  }

  /* page 6 */

  .gallery {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 0px 0px;
  }
  .gallery figure img {
      width: 100%;
      height: 100%;
      margin: 0px;
  }
  .item1 {
    grid-column: 1/4;
    grid-row : 1/4;
    margin: 0px;
}
 
.item2
{ 
    grid-column: 4/5;
    grid-row : 1/2;
    margin: 0px;
}
 
.item3 {
  grid-column: 4/5;
  grid-row : 2/4;
  margin: 0px;
}
 
.item4 {
  grid-column: 5/7;
  grid-row : 1/4;
  margin: 0px;
}
 
.item5{
  grid-column: 7/9;
  grid-row : 1/2;
  margin: 0px;
}
 
.item6{
  
  grid-column: 7/9;
  grid-row : 2/4;
  margin: 0px;
}
  
  /* page7 */
  .volunteer {
    background-color: whitesmoke;
    padding-bottom: 50px;
  }
  .volunteer article {
    height :300px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px ;
    margin-top: 15px;
  }
  .volunteer figure {
    position: relative;
    margin-top: 70px;
    margin-right: 5px;
  }
  .volunteer article figure img{
    margin-left: 30px;
    position: absolute;
    top: -65px;
  
  }
  .volunteer article figure figcaption {
    
    height: 180px;
    background-color: white;
    border: 1px solid white;
    padding: 20px;
  }
  .volunteer article figcaption:hover{
    
    box-shadow: 5px 5px 5px 5px rgb(143, 144, 145);
    transition: all;
  }
  .volunteer article figcaption h5{
    margin-top: 90px;
    color: rgb(43, 40, 40);
    text-align: center;
    margin-bottom: 0px;
    font-size: 15px ;
  }
  .volunteer article figcaption h5 p {
    margin-bottom: 5px;
  }
  .volunteer article figure figcaption ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #878a87;
    padding-left: 5px;
    
  }
  
  .volbutton {
    width : 40px;
    height: 40px;
    background-color: white ;
    border: 1px solid white;
    color: grey;
  }
  .volunteer div {
    color: orangered;
    padding-top: 50px;
    text-align: center;
    font-size: 10px;
  
  }
  .volunteer div ul {
    margin-left: 50px;
  }
  .volunteer div ul li {
    display: inline;
  }
  .volunteer div ul .volunteerchanges {
    visibility: hidden;
  }
  .volunteer div i {
    margin-left: 10px;
  }
  .voluntext {
    font-size: 14px;
    color: grey;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  /* page 8 */
  footer nav{
    background-color: rgb(41, 39, 39);
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
  }
  footer nav .navs{
    width: 200px;
    height: 240px; 
    list-style: none;
    margin-top: 120px; 
  }
 .headlinks{
  
    color: white;
    text-decoration: none;
    list-style: none;
  }
  .lastheadlinks {
    Width :150px;
    padding: 0px;
    color: white;
    text-decoration: none;
    list-style: none;
    
  }
  .lastheadlinks::after{
    content:'';
    position: relative;
    display: block;
    background-color: red;
    width: 38%;
    height: 1px;
  }
  .headlinks::after{
    content:'';
    position: relative;
    display: block;
    background-color: red;
    width: 28%;
    height: 1px;
  }
  footer nav .navs a{
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
  }
  .navs a:hover{
    color: red;
  }
  footer nav .navs li {
    margin-bottom: 12px;
    border-bottom: 1px solid #333533;   
  }
  footer nav .navsbutton {
   
    list-style: none;
    margin-top: 135px;
    Width :170px;
    height : 150px;
    display: flex;
    flex-wrap: wrap;
    
  }
  .navsbutton button {
    height : 30px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-right: 5px;
    margin-top: 8px;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
  } 
  
  .navsbutton button:hover {
    background-color: rgb(231, 62, 0);
    border-color: rgb(231, 62, 0) ;
  }
  
  footer form{
    
    height: 70px;
    font-size: 13px;
    background-color: rgb(212, 65, 39);
    color: white;
    padding-top: 5px; 
    
    display: flex;
    justify-content: center;
  }
  footer form input[type=email]{
    font-size: 11px;
    margin-top: 20px;
    width: 350px;
    height: 20px;
    margin-left: 100px;
    }
  footer form button{
    width : 140px;
    margin-top: 20px;
    margin-left: 20px;
    height: 25px;
    background-color: rgb(212, 65, 39) ;
    color: white;
    border: 1px solid white;
  }
  footer .end {
    
    height: 30px;
    font-size: 15px;
    background-color: rgb(24, 22, 22);
    color: white;
    padding-top: 15px;
    margin-top: 0px;
    text-align: center;
  }
  /* -----------------------MEDIA QUERIES----------------------------- */
  @media(max-width : 1226px)
  {
    /* VIDEOSTORY */
    .videostory figure{
      
      margin: 75px 0px 0px 100px;
    }
    .videostory figcaption{
    
      margin-left: 580px;
      text-align: start;  
    }
    .topnav .donate {
      margin-right: 50px;
    }

  }

  @media(max-width : 1157px)
  {
    .leaveusamessage form{
      margin-left: 165px; 
    }
    .leavetext{
      margin-left: 450px;
    }
    .leavehead {
      margin-left :450px;
    }
    .leaveusamessage section {
      margin-left: 150px;
    }

  }

  @media(max-width : 1110px)
  {
    /* VIDEOSTORY */
    .videostory {
  
      height : 450px;
    }
    
    .videostory figure{
      
      margin: 75px 0px 0px 50px;
    }
    .videostory figcaption{
    
      margin-left: 530px;
      text-align: start;  
    }
    .leaveusamessage form{
      margin-left: 165px; 
    }
  }

  @media(max-width : 1040px)
  {
    .volunteer {
      height : 800px;
    }
    .volunteer article {
      display: block;
      height :300px;    
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @media(max-width : 1016px)
  {
   
    .leaveusamessage form{
      margin-left: 25px; 
    }
    .leavetext{
      margin-left: 310px;
    }
    .leavehead {
      margin-left :310px;
    }
    .leaveusamessage section {
      margin-left: 10px;
    }
  }

  @media(max-width : 965px)
  {
   
 
    /*footer*/
    footer form {
      
     height: 70px; 
     display: flex;
     flex-wrap: wrap;
    }
   footer form input[type=email]{
     margin-left: 30px;
     }
 
   footer form button{
     margin-left: 5px;
 
   }
   footer nav {
     display: block;
     height: 600px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: center;
   }
   footer nav .navsbutton {
     margin-top: 55px;
   }
   footer nav .navs{
     width: 200px;
     height: 200px; 
     margin-top: 50px; 
     
   }
   footer nav .navs:nth-of-type(3){
     margin-top: 30px;
   }
   footer nav .navs:nth-of-type(2){
    margin-top: 70px;
  }
 }
 
 @media(max-width : 880px)
 { 
  footer form{
    height: 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  footer form h1{
    margin-bottom: 0px;
  }
  footer form input[type=email]{
      margin-left: 20px;
  }
   
  footer form button{
        margin-left: 0px;
  }
  .leaveusamessage section {
        width: 700px;
        height: 450px;
        margin-left: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  }
 
}

 @media(max-width : 844px)
 {
 /* VIDEOSTORY */
 .videostory {
   
   height : 700px;
 }
 
 .videostory figure{
   
   margin: 75px 0px 0px 50px;
 }
 .videostory figcaption{
   margin-top: 50px;
   margin-left: 50px;
   text-align: start;  
   float: left;
 }
 }

  @media(max-width : 800px)
  { 
   footer form{
     height: 120px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     padding-top: 5px;
     padding-left: 5px;
   }
   footer form input[type=email]{
     margin-top: 5px;
     margin-left: 0px;
     padding-left: 5px;
     }
   footer form button{
     margin-top: 5px;
     margin-left: 5px;
     height: 25px;
   }
 }
 @media(max-width : 913px)
{
  .topnav .donate {
    display :none;
  }
}

@media(max-width : 674px)
{
  .butn{
    margin-top: 0px;
  }
 aside ul{
    margin-bottom: 0px;
    margin-left: -20px;
  }
  aside {
    height: 80px;
  }
}
  @media(max-width : 720px)
  {
    .btn{
      background-color: rgb(43, 40, 40);
      border: 1px solid  rgb(43, 40, 40);
      margin-top: 0px;
    }
    aside ul{
      margin-bottom: 0px;
      margin-left: -20px;
    }
    


  }
  @media(max-width : 700px)
  { 
   .leaveusamessage section {
         width: 500px;
         height: 700px;
         margin-left: 10px;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
       
       }
        .leaveusamessage form{
        margin-left: 100px; 
      }
      .leavetext{
        margin-left: 30px;
        float: left;
      }
      .leavehead {
        margin-top: 15px;
        margin-left :30px;
        float: left;
      }
 
 
  }
@media(max-width : 600px)
{
  footer form{
    height: 120px;
    padding-top: 5px;
    padding-left: 70px;
  }
  footer form input[type=email]{
    margin-top: 5px;
    margin-left: -15px;
    padding-left: 5px;
    }
  footer form button{
    margin-top: 5px;
    margin-left: 100px;
    height: 25px;
  }
}
@media (max-width : 578px)
{
  /* VIDEOSTORY */
.videostory {
  
  height : 700px;
}

.videostory figure{
  
  margin: 75px 0px 0px 50px;
}
.videostory figcaption{
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 10px;
  text-align: start;  
  float: left;
}
.videostory figure .image1 {
  width: 370px;
  height: 200px ;

}
.image2{
  position: absolute;
 top :80px;
 left: 170px;
}
footer nav {
  display: block;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
footer nav .navsbutton {
  margin-top: 20px;
  width: 250px;
  height : 80px;
}
.lastheadlinks {
  Width :200px;
  margin-bottom: 10px;
}
footer nav .navs{
  width: 200px;
  height: 180px; 
  margin-bottom: 10px;
  margin-top: 30px; 

}
footer nav .navs:nth-of-type(3){
  margin-top: 15px;
}
}



@media (max-width : 536px)
{
  .frontpage{
    height: 250px;
    background-size: 100% 100%; 
    
  }
  .frontpage h1 {
    margin-top: 5px;
    font-size: 50px;
    margin-bottom: 0px;
  }
  .frontpage p {
   display: none;
  
  }
  .frontpage button {
    display: none;
  }
  fieldset {
    display: none;
  }
  
  .volunteer {
    height : 550px;
  }
  .volunteer article {
    display: block;
    height :300px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .volunteer figure {
    margin-top :80px;
  }
  .volunteer article figure:nth-of-type(2) {
    display: none;
  }
  .volunteer article figure:nth-of-type(3) {
    display: none;
  }
  .volunteer article figure:nth-of-type(4) {
    display: none;
  }
  .volunteer div ul {
    margin-left: 0px;
  }
  .volunteer div ul li {
    display: inline;
  }
  .volunteer div ul .volunteerchanges {
    visibility: visible;
  }
  .leaveusamessage form{
    margin-top: 10px;
    margin-left: 70px;
    width: 320px;
    height: 260px;
  }
  .leaveusamessage form .labelling {
    margin-left: 30px;
  }
  .leaveusamessage input[type=text]{
    margin-top: 10px;
    margin-left: 30px;
    width: 250px;
    height: 35px;
  }
  .leaveusamessage input[type=email]{
    margin-top: 10px;
    margin-left: 30px;
    width: 250px;
    height: 35px;
  }
  .leaveusamessage input[type=checkbox]{
    margin-left: 30px;
  }
  .leaveusamessage form button{
    width: 255px;
    height: 35px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .leavetext
  {
    margin-left: 50px;
    margin-right: 15px;
  } 
  .leavehead::after{
    width: 23%;
  }
  .leavehead {
    margin-top: 30px;
    margin-left :50px;
   
  }
  .gallery {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 2fr 0.5fr 0.5fr;
    grid-gap: 0px 0px;
    display: block;
  }
}
@media (max-width : 834px)
{
  .ourcauses article {
    height: 900px;
  }
  .ourcauses article figure {
    margin-top: 7px;
  }
}
@media (max-width : 569px)
{
  .ourcauses article {
    height: 1400px;
  }
  .ourcauses article figure {
    margin-top: 7px;
  }
}
@media (max-width : 1070px)
{
  .topnav {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
  }
  .topnav p {
    margin-left: 10px;
  }
 .topnav ul {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}
@media (max-width : 980px)
{
  .aboutus{
    height: 650px;
  }
  .aboutus article {
    margin-top: 0px;
  }
  .aboutus article div {
    margin-top: 0px;
  }
  .firsttext {
    margin-right: 150px;
  }
}

@media (max-width : 828px)
{
  .aboutus {
    height: 900px;  
    } 
    .aboutus article {
    margin-top: 0px;
    display: block;
    }
    .firsttext {
    margin-right: 0px;
    margin-top: 30px;
    }
    .secondtext{
      margin-top: 20px;
    }
    .aboutus article div p{
      margin-left: 60px;
    }
    .aboutus article div h5{
      margin-left: 60px;
    }
}
@media (max-width: 510px)
{

   .undertext {
    margin-left: 85px; 
    width: 300px;
    height : 50px;
}
}
@media (max-width :764px)
{
  .topnav {
    color: rgb(177, 172, 172);
  }
  .topnav .barbutton {
    visibility: visible ;
    margin-left: 100px;
    color: rgb(177, 172, 172);

  }
  .topnav .listbar {
    display: none;
  }
  .topnav .barbutton:hover + .listbar {
    display: block;
    margin-left: 380px;
  }
}